@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body, html {
  height: 100%;
  background-color: rgba($color: #ffd7ba, $alpha: 0.15);
  font-family: 'Acme', sans-serif;
}



.hero-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("https://images.unsplash.com/photo-1453614512568-c4024d13c247?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1489&q=80");
height: 75%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
text-align: center;
position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}

.hero-text h1{
  font-size: 52px;
}

.section-title{
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.section-title h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
}

.section-title h2 span {
  color: orange;
  text-shadow: 1px 2px;
}



.recent_coffee{
  background-color: rgba($color: #ffd7ba, $alpha: 0.15);
  
}



.recent_coffee .box{
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  height: 100%;
  background-color: rgba($color: lightsteelblue, $alpha: 0.3);
}

.recent_coffee .box1{
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  height: 100%;
  margin-bottom: 30px;
  background-color: whitesmoke;
}


.recent_coffee .box h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
}


.recent_coffee .box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.recent_coffee .box1 p {
  color: black;
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.recent_coffee .box1 .cost {
  color: black;
  font-family:'Times New Roman', Times, serif;
}

.recent_coffee .box:hover {
  background: lightsteelblue;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.recent_coffee .box:hover span, .recent_coffee .box:hover h4, .recent_coffee .box:hover p {
  color: #fff;
}



.america_coffee .box{
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  height: 100%;
}

.america_coffee .box1{
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  height: 100%;
  margin-bottom: 30px;
  background-color: whitesmoke;
}


.america_coffee .box h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
}


.america_coffee .box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.america_coffee .box1 p {
  color: black;
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.america_coffee .box1 .cost {
  color: black;
  font-family:'Times New Roman', Times, serif;
}

.america_coffee .box:hover {
  background: orange;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.america_coffee .box:hover span, .america_coffee .box:hover h4, .america_coffee .box:hover p {
  color: #fff;
}

.review_coffee{
  background-color: rgba($color: #ffd7ba, $alpha: 0.15);
}

.review_coffee .box{
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  height: 100%;
  background-color: rgba($color: lightsalmon, $alpha: 0.1);
}

.review_coffee .box1{
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  height: 100%;
  margin-bottom: 30px;
  background-color: whitesmoke;
}

.review_coffee .box h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
}

.review_coffee .box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.review_coffee .box1 p {
  color: black;
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.review_coffee .box1 .cost {
  color: black;
  font-family:'Times New Roman', Times, serif;
}

.review_coffee .box:hover {
  background: lightsalmon;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.review_coffee .box:hover span, .review_coffee .box:hover h4, .review_coffee .box:hover p {
  color: #fff;
}

.card{
  background-color: #fffaf3;
  margin-bottom: 10px;
}

.holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

.holder-1 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;  
}

.holder .content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
}

.content .items {
  border: 3px solid #fff;
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.content h3 {
  color: black;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
}

.content h3.title {
  margin-bottom: 30px;
}

.content p {
  color: black;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

.content .back_link {
  color: orange;
  text-align: right;
  font-size: 17px;
  font-weight: 300;
  /* line-height: 20px; */
  margin-bottom: 30px;
}

.content p a{
color:black;
text-decoration: none;
}

.content p a:hover{
color: lightskyblue;
text-decoration: underline;
}

.content input[type=text]{
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  margin-top: 16px;
}

.products-section .box{
  border-radius: 50% 50% 0px 0px;
  margin-top: 30px;
  border: 3px solid green;
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  height: 75vh;
  width:100%;
  margin-bottom: 30px;
  background-color: #fff;
  background-image: url("https://images.unsplash.com/photo-1509042239860-f550ce710b93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&auto=format&fit=crop&w=900&q=60");
  background-repeat: no-repeat;
  background-size: cover;
}

.warnings{
  background-color:whitesmoke;
  color:red;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}






